@use '../vars' as vars;

.matluEvents {
    list-style-type: none;
}

.matluEvent {
    min-height: 50px;
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;

    .eventTitle {
        font-size: 1.1rem;
    }

    .eventTime,
    .eventLocation {
        font-size: 0.8rem;
    }

    border-left: 3px solid vars.$main-color;
}
