@use '../vars' as vars;
@use '../breakpoints' as breakpoints;

.contactForm {
    width: 50%;

    @include breakpoints.mobile {
        width: 100%;
    }
}

.contactFormGroup {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;

    label {
        font-weight: bold;
        margin-bottom: 8px;
    }

    textarea {
        padding: 6px;
        font-size: 0.8em;
    }

    button {
        background-color: vars.$main-color;
        color: white;
        border: 0;
        font-weight: bold;
        height: 42px;
        font-size: 0.9em;

        &:hover {
            cursor: pointer;
        }
        &:disabled {
            opacity: 0.1;
            cursor: default;
        }
    }
}
