@use '../breakpoints' as breakpoints;
@use '../vars' as vars;

.wrapper {
    width: vars.$app-width;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;

    main {
        a {
            color: vars.$main-color;
        }
    }

    @include breakpoints.mobile {
        width: 100%;
    }
}

.logoWrapper {
    width: vars.$app-width;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoints.mobile {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.matluLogo {
    height: 80px;
    width: auto;
}
