ul.documentLinks {
    padding-left: 0;
    margin-top: 12px;
    line-height: 1.8;
    font-size: 0.875rem;
    list-style-type: none;

    li {
        margin: 0;
    }

    a {
        color: white;
    }
}
