@import "../mixins";

.appFooter {
  display: grid;
  column-gap: 8px;
  grid-template-columns: repeat(3, 1fr);

  @include mobile {
    display: block;
  }
}

ul.documentLinks,
ul.matluSome {
  padding-left: 0;
  margin-top: 12px;
  line-height: 1.8em;
  font-size: 0.7em;
  list-style-type: none;
}

@include mobile {
  .appFooterSection {
    padding: 12px;
  }
}

.calendarEvents {
  font-size: 0.7em;
}

.footerBottom {
  grid-column: 1 / 4;
  width: 100%;
  text-align: center;
  font-size: 0.75em;
}
