@import "../vars";
@import "../mixins";

.wrapper {
  width: $app-width;
  margin-left: auto;
  margin-right: auto;

  article {
    a {
      color: $main-color;
    }
  }

  @include mobile {
    width: 100%;
  }
}
