@use "../vars";
@use "../mixins";

.wrapper {
  width: vars.$app-width;
  margin-left: auto;
  margin-right: auto;

  article {
    a {
      color: vars.$main-color;
    }
  }

  @include mixins.mobile {
    width: 100%;
  }
}
