@use "../vars";
@use "../mixins";

.logoWrapper {
  width: vars.$app-width;
  margin: 16px auto;

  @include mixins.mobile {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.matluLogo {
  height: 60px;
  width: auto;
  margin: 16px 16px 16px 0;

  @include mixins.mobile {
    margin: 16px;
  }
}
